<?xml version="1.0" encoding="utf-8" ?>
<nlog autoReload="true" throwExceptions="true" internalLogFile="c:\temp\NLog.txt" internalLogLevel="Trace"
      xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
	<targets>
		<target name="LogToFile" xsi:type="File" fileName="${basedir}/Logs/IoCConsole.log" encoding="utf-8"
			maxArchiveFiles="10" archiveNumbering="Sequence" archiveAboveSize="1048576" archiveFileName="${basedir}/Logs/PGMEfficiencyAPI${shortdate}.log" />
	</targets>
	<rules>
		<logger name="*" writeTo="LogToFile" minlevel="Warning" />
	</rules>
</nlog>